# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!.yarn/**
!version
!.yarnrc.yml
!.pnp.cjs

!tsconfig.json
!scripts/**
!webpack/**
!src/main/**
!config/**
!prisma/**
!webpack.config.js
