version: '2'

services:
  # TODO: change this name to match the name of your app
  reporting:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    depends_on:
      - redis
    ports:
      # TODO: change this mapping to map the port your application listens on
      - '3100:3100'
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
  redis:
    image: redis:8.6-alpine
    ports:
      - '6379:6379'
