{% extends "analytics/layout.njk" %}
{% from "macros/analytics-table.njk" import analyticsTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/csv-download.njk" import csvDownloadButton %}

{% block analyticsContent %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Service performance overview</h1>
    <p class="govuk-body-l">High level overview of current service performance</p>

    {% include "analytics/overview/overview-filters.njk" %}

    {% include "analytics/overview/partials/service-performance-table.njk" %}
    {% include "analytics/overview/partials/task-events-table.njk" %}
  </div>
{% endblock %}
