<div data-section="user-overview-completed">
  {% include "analytics/user-overview/partials/completed-tasks.njk" %}
</div>

<div data-section="user-overview-completed-by-date">
  {% include "analytics/user-overview/partials/completed-by-date.njk" %}
</div>
