<% htmlWebpackPlugin.files.js.forEach(function(file) { %>
<% const filename = file.substr(htmlWebpackPlugin.files.publicPath.length); %>
<% if (/^main(\.|-).+\.js$/.test(filename)) { %>
<script src="/<%= filename %>"></script>
<% } %>
<% }); %>
