{% extends "analytics/layout.njk" %}

{% block analyticsContent %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Analytics</h1>
    <p class="govuk-body">Select a dashboard to view task analytics.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/analytics/overview">Overview</a></li>
      <li><a class="govuk-link" href="/analytics/outstanding">Tasks outstanding</a></li>
      <li><a class="govuk-link" href="/analytics/completed">Tasks completed</a></li>
      <li><a class="govuk-link" href="/analytics/users">User overview</a></li>
    </ul>
  </div>
{% endblock %}
