{% extends "layouts/main.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% set _rebrand = govukRebrand() if govukRebrand is callable else govukRebrand %}

{% block pageTitle %}Analytics{% endblock %}

{% block header %}
  {{ govukHeader({ rebrand: _rebrand }) }}
  {{ govukServiceNavigation({
    serviceName: "Task Management Report",
    serviceUrl: "/analytics",
    navigation: [
      {
        text: "Overview",
        href: "/analytics/overview",
        current: pagePath == "/analytics/overview"
      },
      {
        text: "Tasks outstanding",
        href: "/analytics/outstanding",
        current: pagePath == "/analytics/outstanding"
      },
      {
        text: "Tasks completed",
        href: "/analytics/completed",
        current: pagePath == "/analytics/completed"
      },
      {
        text: "User overview",
        href: "/analytics/users",
        current: pagePath  == "/analytics/users"
      }
    ],
    slots: {
      navigationEnd: '<li class="govuk-service-navigation__item analytics-service-navigation__item--signout"><a class="govuk-service-navigation__link" href="/logout">Sign out</a></li>'
    }
  }) }}
{% endblock %}

{% block content %}
  {% block analyticsContent %}{% endblock %}
{% endblock %}
