{% extends "layouts/main.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block pageTitle %}Analytics{% endblock %}

{% block header %}
  {{ govukHeader() }}
  {{ govukServiceNavigation({
    serviceName: "Task Management Report",
    serviceUrl: "/",
    navigation: [
      {
        text: "Overview",
        href: "/",
        current: pagePath == "/"
      },
      {
        text: "Tasks outstanding",
        href: "/outstanding",
        current: pagePath == "/outstanding"
      },
      {
        text: "Tasks completed",
        href: "/completed",
        current: pagePath == "/completed"
      },
      {
        text: "User overview",
        href: "/users",
        current: pagePath  == "/users"
      }
    ],
    slots: {
      navigationEnd: '<li class="govuk-service-navigation__item analytics-service-navigation__item--signout"><a class="govuk-service-navigation__link" href="/logout">Sign out</a></li>'
    }
  }) }}
{% endblock %}

{% block content %}
  {% block analyticsContent %}{% endblock %}
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  {% include "webpack/analytics-js.njk" %}
{% endblock %}
